<div class="post-all">
    
    初めてプログラミングを勉強して作ったので不具合などあるかもしれません。<br>
    また、余儀なくすべての投稿データが消える可能性がございます。<br>
    本当にすみません。<br>
    <br>
    <%= link_to("作成者のTwitter","https://twitter.com/sawasawanosawa") %><br>
    プログラミング、デザインの助言、不具合等、何かございましたらこちらにお願いいたします。<br>
    趣味や愚痴、HorseFaceBookの更新とかつぶやくかもしれません。<br>
    フォローしていただけると泣いて喜びます。<br>
    気軽に絡んでいただけるとめちゃくちゃ喜びます。<br>
    あとマジでプログラミングに詳しい方助けて…<br>
    <br>
    <%= link_to("作成者のYouTube", "https://www.youtube.com/channel/UCAcJU9w3DAhm0kz1V0OX7NQ") %><br>
    よければこちらも登録していただけると死ぬほど喜びます。<br>
    クソみたいなゆっくり実況とか作ってます。(正直言って、見る価値ないです。)<br>
    登録者多くなったら放送とかするかも。(したい…。)<br>
    
</div>