.a{
    font-size: 70px;
    position: relative;
    top: 180px;
    text-align: center;
    font-family: "MyFont3";
}

.sort{
    position: relative;
    top: 190px;
    left: 750px;
    margin-left: auto;
    margin-right: auto;
}

.sort_score{
    position: relative;
    font-size: 20px;
    height: 50px;
    width: 110px;
}

.sort_horse{
    font-size: 20px;
    height: 50px;
}

.post-padding{
    padding: 15px;
}

.post-all{
    padding: 20px;
    overflow: hidden;
    position: relative;
    top: 228px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 625px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 20px 20px 6px #00000029;
    border: 15px solid #7B7B7B;
}

.post-title{
    position: relative;
    font-size: 30px;
    position: relative;
    top: 20px;
}

.horse{
    font-size: 25px;
    position: relative;
    top: 100px;
}

.girl{
    position: absolute;
    left: 130px;
}

.score{
    font-size: 25px;
    position: relative;
    top: 170px;
}
.girl_score{
    position: absolute;
    left: 160px;
}

.post-content-box{
    position: relative;
    top: 250px;
    width: 466px;
    height: 218px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.post-content{
    font-size: 20px;
    position: relative;;
    top: 15px;
    padding: 20px;
}

.image{
    position: relative;
    bottom: 270px;
    left: 550px;
}

.page{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 350px;
}

.more{
    position: relative;
    top: 300px;
    text-align: center;
    padding: 30px;
}




.form{
    text-align: center;
    position: relative;
    top: 180px;
}

h2{
    padding: 30px;
}

textarea{
    font-size: 30px;
}

.horse_title{
    font-family: inherit;
    font-size: 200%;
    position: relative;
    bottom: 10px;
    height: 10px;
}

.horse-score{
    font-size: 20px;
    height: 50px;
    width: 80px;
}

.horse-select{
    font-size: 20px;
    height: 50px;
}

input{
    font-size: 30px;
}

.submit {
    font-size: 20px;
    position: relative;
    top: 10px;
    padding-bottom: 100px;

}

.all_horse{
    position: relative;
    top: 150px;
    text-align: center;
    font-size: 30px;
}

.ex{
    position: relative;
    bottom: 10px;
}